<?xml version="1.0" encoding="utf-8"?>
<configuration>
<location path=".">
<system.webServer>
  <httpErrors errorMode="DetailedLocalOnly" />
</system.webServer>
  <directoryBrowse enabled="false" />
    <authorization>
        <deny users="*" />
        <allow roles="Administrators" />
      </authorization>
      </location>
</configuration>