#wpcontent {
    /* padding: 0 */
}

.hidden {
    display: none
}

.width15 {
    width: 15%
}

.width20 {
    width: 20%
}

.width25 {
    width: 25%
}

.width33 {
    width: 33.333%
}

.width35 {
    width: 35%
}

.width40 {
    width: 40%
}

.width50 {
    width: 50%
}

.width100 {
    width: 100%
}

.wpopt-notice {
    background: #fff;
    margin: 1em 15px;
    padding: 10px 12px;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
}

.wpopt-notice--error {
    color: red;
    border-left-color: #dc3232;
}

.alternate {
    background-color: #efefef
}

.dn-wrap {
    margin: auto;
    display: block;
    max-width: 300px;
    padding: 20px;
    align-content: center;
    text-align: center;
    background: #5a5a5a;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dn-title {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600
}

.dn-btc {
}

.dn-name {
    font-weight: 600
}

.dn-value {
    margin: 0;
    font-weight: 600;
}

.dn-hr {
    width: 100%;
    background: #0a0a0a;
    height: 1px;
    margin: 22px 0 12px 0
}

input.apple-switch:before {
    content: none !important;
    display: none !important
}

input.apple-switch:focus {
    outline: 0;
    border: none;
    box-shadow: none
}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    width: 50px;
    height: 26px;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border-radius: 15px;
    border: none;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .1);
    transition: background-color .4s cubic-bezier(.275, -.45, .725, 1.45);
}

input.apple-switch:after {
    content: "" !important;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
    transition: all .3s cubic-bezier(.275, -.45, .725, 1.45);
}

input.apple-switch:checked {
    background: #4ca2d9
}

input.apple-switch:checked:after {
    left: 26px;
    top: 2px;
    width: 22px;
    height: 22px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, .2);
}

.ar-tabs {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.ar-tabcontent {

    border-top: 2px solid #cacaca;

    overflow: hidden;

    box-sizing: border-box;
}

.ar-tablist {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: end;
    -ms-flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0;
}

.ar-tab {
    align-items: center;
    background: #e8e8e8;
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 0 2px 0 0;
    outline: none;
}

.ar-tab_link {
    font-size: 10px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 10px 21px;
    text-transform: uppercase;
    color: #717171;
    outline: 0;
    transition: font-size 0.35s ease-in-out .15s;
}

.ar-tab:hover .ar-tab_link {
    font-size: 13px;
    color: #717171;
}

.ar-tab_link[aria-selected=true] {
    color: #2b2b2b;
    background: #b7b7b7;
    font-size: 13px;
}

div[aria-hidden=true] {
    display: none
}

ul.wpopt {
    list-style: inside;
}

section.wpopt-wrap {
    padding: 0 20px 0 0;
}

.wpopt-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px 0;
}

.wpopt-home section.wpopt {
    width: calc(100% - 410px);
}

aside.wpopt {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 370px;
}

aside.wpopt .wpopt-box {
    padding: 20px;
    margin: 25px 0 0 0;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
    border: 1px solid #dcdcdc;
    width: 100%;
}

.wpopt h1 {
    width: 100%;
    margin: 1em auto;
    text-align: center;
    background: #fafafa;
    line-height: 2em;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .75);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .75)
}

.wpopt h2 {
    padding-bottom: 13px;
    border-bottom: 3px solid #f1f1f1
}

block.wpopt {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 2em auto;
    padding: 1.5em;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    box-sizing: border-box;
}

block.wpopt line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    align-items: center;
    padding: 6px;
    margin: auto;
    border-bottom: 1px solid #d8d8d8
}

block.wpopt p {
    margin: 0 0 1em 0;
}

block.wpopt b {
    width: 40%
}

block.wpopt value {
    width: 60%
}

block.wpopt :after {
    clear: both
}

.table-sweep tbody tr {
    height: 42px;
}

.table-sweep tbody tr td {
    line-height: 32px;
}

.table-sweep thead th {
    width: 12%;
}

.table-sweep thead th.col-sweep-details {
    width: 56%;
}

.table-sweep thead th.col-sweep-action {
    width: 20%;
}

.list-tables {
    background: #efefef;
    margin-bottom: 4em;
    overflow: hidden;
    box-shadow: 0 0 3px 0 #212121;
}

.list-tables pre-table {
    margin: 0 1em;
    display: block;
    overflow: hidden;
}

.wpopt-gridRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wpopt-gridRow li {
    font-weight: bold;
    margin-right: 3em;
}

.wpopt-submit {
    margin: 2em 0 0 0 !important;
}

table.wpopt {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    /* background: #ecf6ff; */
}

table.wpopt tr {
    line-height: 40px;
    border-bottom: 2px solid #e0e0e0;
}

table.wpopt td {
    padding: 0 1em;
}

.wpopt-setting-header {
    margin-top: 2em;
}

@media only screen and (max-width: 1192px) {

    .wpopt-home section.wpopt {
        width: 100%;
        padding: 0;
    }

    aside.wpopt {
        margin: 30px auto;
        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .75);
    }
}
