.hidden {
    display: none
}

.wpopt-disabled-blur {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    background: #e2e2e240;
    display: none
}

.wpopt-child:last-child{
    margin-bottom: 20px;
}

input[type=checkbox][readonly] {
    pointer-events: none
}

.width15 {
    width: 15%
}

.width20 {
    width: 20%
}

.width25 {
    width: 25%
}

.width33 {
    width: 33.333%
}

.width35 {
    width: 35%
}

.width40 {
    width: 40%
}

.width50 {
    width: 50%
}

.width100 {
    width: 100%
}

.wpopt-notice {
    background: #fff;
    margin: 1em 15px;
    padding: 10px 12px;
    border: 1px solid #ccd0d4;
    border-left-width: 4px
}

.wpopt-notice:empty {
    display: none
}

.wpopt-notice p {
    font-weight: 700
}

.wpopt-notice .error {
    color: red
}

.wpopt-notice .success {
    color: green
}

.wpopt-notice .info {
    color: #00008b
}

.wpopt-notice--error {
    color: red;
    border-left-color: #dc3232
}

.alternate {
    background-color: #efefef
}

.dn-wrap {
    margin: auto;
    display: block;
    max-width: 300px;
    padding: 20px;
    align-content: center;
    text-align: center;
    background: #5a5a5a;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dn-title {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600
}

.dn-name {
    font-weight: 600
}

.dn-value {
    margin: 0;
    font-weight: 600
}

.dn-hr {
    width: 100%;
    background: #0a0a0a;
    height: 1px;
    margin: 22px 0 12px 0
}

input.wpopt-apple-switch:before {
    content: none !important;
    display: none !important
}

input.wpopt-apple-switch:focus {
    outline: 0;
    border: none;
    box-shadow: none
}

input.wpopt-apple-switch {
    position: relative;
    -webkit-appearance: none;
    width: 54px;
    height: 30px;
    box-sizing: border-box;
    background-color: #ffeae6;
    border-radius: 15px;
    border: none;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .1);
    transition: background-color .4s cubic-bezier(.275, -.45, .725, 1.45);
}

input.wpopt-apple-switch:after {
    content: "" !important;
    position: absolute;
    top: 4px;
    left: 3px;
    background: #ce5e44;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 2px 0 4px rgb(230 35 0 / 20%);
    transition: all .3s cubic-bezier(.275, -.45, .725, 1.45);
}

input.wpopt-apple-switch:checked {
    background: #cffdeb;
}

input.wpopt-apple-switch:checked:after {
    left: 28px;
    background: #5fb996;
    box-shadow: 2px 0 4px rgb(9 255 119 / 0.2);
}

.ar-tabs {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative
}

.ar-tabcontent {
    overflow: hidden;
    box-sizing: border-box;
}

.ar-tablist {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: end;
    -ms-flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0;
    height: 39px;
    border-bottom: 2px solid #9a9898;
}


.ar-tablist::-webkit-scrollbar-thumb {
    background-color: #505050
}

.ar-tablist::-webkit-scrollbar {
    height: .3rem;
    background: 0 0
}

.ar-tab {
    align-items: center;
    background: #e8e8e8;
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 0 2px 0 0;
    outline: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ar-tab_link {
    font-size: 10px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 10px 21px;
    text-transform: uppercase;
    color: #717171;
    outline: 0;
    transition: font-size .35s ease-in-out .15s
}

.ar-tab_link[aria-selected=true] {
    color: #2b2b2b;
    background: #66b2e8;
    font-size: 13px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ar-tabcontent[aria-hidden=true] {
    display: none
}

.wpopt-loader {
    position: relative
}

.wpopt-loader:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #0000009e
}

.wpopt-loader:after {
    content: "";
    color: #5abaff;
    font-size: 10px;
    margin: auto;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: load4 1.1s infinite linear;
    animation: load4 1.1s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 .2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    25% {
        box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 .2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 .2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
    }
    75% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 .2em, -2em -2em 0 0
    }
    87.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 .2em
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 .2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    25% {
        box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 .2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 .2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
    }
    75% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 .2em, -2em -2em 0 0
    }
    87.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 .2em
    }
}

.wpopt textarea {
    border-radius: 2px;
    padding: .5em 1em;
    transition: all .15s ease-in-out .35s;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wpopt input[type=numeric] {
    max-width: 80px;
    text-align: center;
    outline: 0
}

.wpopt textarea:focus {
    box-shadow: 0 0 9px #424242
}

ul.wpopt {
    list-style: inside
}

section.wpopt-wrap {
    max-width: 1400px;
    margin: auto;
    padding: 2em 20px 0 0;
}

.wpopt-home{
    margin: 30px auto;
}

.wpopt-wrap-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.wpopt-wrap-flex section.wpopt {flex: 1 1 100%;max-width: calc(100% - 400px);}

aside.wpopt {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 370px;
}

aside.wpopt .wpopt-box {
    padding: 20px;
    margin: 0;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border: 1px solid #dcdcdc;
    width: 100%;
    border-radius: 3px;
}

aside.wpopt .wpopt-box:not(:last-child){
    margin-bottom:25px
}

.wpopt-header {
    width: 100%;
    margin: 0 auto 1em auto;
    background: #1a5bd2;
    color: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    display: block;
    padding: 1em 1.5em;
    overflow: hidden;
    box-sizing: border-box;
}

.wpopt-header h1{
    text-align: center;
    color: inherit;
}

.wpopt-header h3{
    color: inherit;
}



.wpopt h2 {
    padding: 10px 0 10px 0;
    border-bottom: 3px solid #f1f1f1;
}

block.wpopt {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto 2em auto;
    padding: 1.5em;
    background: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    box-sizing: border-box;
}

block.wpopt line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    align-items: center;
    padding: 6px;
    margin: auto;
    border-bottom: 1px solid #d8d8d8
}

block.wpopt p {
    margin: 0 0 1em 0
}

block.wpopt b {
    width: 40%
}

block.wpopt .value {
    width: 60%;
}

block.wpopt :after {
    clear: both
}

.table-sweep tbody tr {
    height: 42px
}

.table-sweep tbody tr td {
    line-height: 32px
}

.table-sweep thead th {
    width: 12%
}

.table-sweep thead th.col-sweep-details {
    width: 56%
}

.table-sweep thead th.col-sweep-action {
    width: 20%
}

.list-tables {
    background: #fff;
    margin: 2px 2px 4em 2px;
    overflow: hidden;
    box-shadow: 0 0 2px 0 #353535
}

.list-tables pre-table {
    padding: 0 1em;
    display: block;
    overflow: hidden;
    border-top: 1px solid #ccd0d4;
    border-left: 1px solid #ccd0d4;
    border-right: 1px solid #ccd0d4;
    font-weight: 700
}

.wpopt-gridRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.wpopt-gridRow li {
    font-weight: 700;
    margin-right: 3em
}

.wpopt-submit {
    margin: 2em 0 0 0 !important;
    padding: 0;
    text-align: center;
}

table.wpopt {
    width: 100%;
    margin: auto;
    border-collapse: collapse
}

table.wpopt tbody td.option {
    text-align: left;
}

table.wpopt tbody td.value {
    text-align: right;
    width: 60%;
}

table.wpopt textarea, table.wpopt input[type=text]{
    max-width: 100%;
    width:100%
}

.wpopt-thead, table.wpopt thead {
    background: #417ba5
}

.wpopt-footer {
    background: #2f5978
}

.wpopt-footer th, .wpopt-thead th, table.wpopt thead th {
    font-weight: 700;
    color: #fff
}

table.wpopt .wpopt-actions {
    padding: 1.5em 0 1em 0
}

table.wpopt .wpopt-actions :not(:last-child) {
    margin-right: 1em
}

table.wpopt-settings tr {
    border-bottom: 2px solid #e0e0e0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    height: 50px;
}

table.wpopt td {
    padding: 8px 10px
}

table.wpopt tr.blank-row {
    height: 2em !important
}

.wpopt-setting-header {
    margin-top: 2em
}

.wpopt-centered {
    text-align: center
}

.wpopt-block {
    display: block
}

.wpopt-hr {
    border-top: none;
    border-bottom: 2px solid #66b2e8;
    margin: 2em 0
}

.wpopt-options--before {
    margin-right: 2em
}

.wpopt-custom-action {
    margin: 2em 0
}

#wpopt-uoptions {
    margin: auto;
    max-width: 1000px;
}

.wpopt-faq-list {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.wpopt-faq-item {
    margin: 10px 0
}

.wpopt-faq-item:after {
    content: '';
    width: 97%;
    margin: auto;
    display: block;
    padding-bottom: 7px;
    border-bottom: 2px solid #eaeaea
}

.wpopt-faq-question-wrapper {
    position: relative;
    cursor: pointer
}

.wpopt-faq-question {
    margin: 0;
    display: inline-block;
    width: 90%;
    line-height: 30px;
    font-weight: 700;
    color: #2b6481;
    font-size: 16px
}

.wpopt-collapse-icon {
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 0;
    line-height: inherit;
    transition: transform .4s ease-in-out
}

.wpopt-collapse-icon-close {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #cc3535
}

.wpopt-faq-answer {
    position: relative;
    display: none;
    overflow: hidden;
    line-height: 17px;
    height: auto;
    margin: 16px 0
}

.wpopt-dir-explorer {
    width: 100%;
    border: 1px solid;
    margin: 10px 0;
    padding: 0;
    background: #efefef
}

.wpopt-dir-explorer label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wpopt-dir-explorer text {
    flex: 1 1 50%;
    line-height: 26px;
    padding-left: 11px;
    font-weight: 500;
}

.wpopt-dir-explorer input {
    outline: none;
    border: none;
    background: white;
    border-radius: 0;
    flex: 1 1 50%;
}

.wpopt-dir-explorer input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

ul.wpopt-autocomplete {
    border-top: none;
    color: #6f6f6f;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    width: 100%;
    line-height: 26px;
    z-index: 100;
    max-height: 244px;
    overflow: auto;
}

ul.wpopt-autocomplete li {
    list-style: none;
    font-size: 14px;
    padding: 4px 10px;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #dadada;
}

.wpopt-list{
    padding-left: 30px;
    list-style: disc;
}

@media only screen and (max-width: 1192px) {
    .wpopt-wrap-flex section.wpopt {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #wpopt-uoptions {
        max-width: 90%;
        margin: auto;
    }

    aside.wpopt {
        margin: 0 auto;
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 1024px) {

}